/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ipl-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  height: 40px;
  margin: 15px;
}
.ipl-logo-heading {
  color: #fff;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: bold;
}
.teams-container {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
}
